[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = mickledore
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = http://cgit.openembedded.org/meta-openembedded
	branch = mickledore
